name: Build & Package

permissions:
  contents: write

on: [workflow_dispatch, push]

jobs:
  build_windows:
    runs-on: windows-latest
    name: Build for Windows

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pyinstaller==6.3.0
          pip install -r requirements.txt

      - name: Create Executable
        run: pyinstaller --onefile --name "Produkte-Generator" main.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: 'Produkte Generator (Windows)'
          path: 'dist/'

  build_linux:
    runs-on: ubuntu-latest
    name: Build for Linux

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pyinstaller==6.3.0
          pip install -r requirements.txt

      - name: Create Executable
        run: pyinstaller --onefile --name "Produkte-Generator-Linux" main.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: 'Produkte Generator (Linux)'
          path: 'dist/'

  build_macos:
    runs-on: macos-latest
    name: Build for macOS

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pyinstaller==6.3.0
          pip install -r requirements.txt

      - name: Create Executable
        run: pyinstaller --onefile --name "Produkte-Generator-macOS" main.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: 'Produkte Generator (macOS)'
          path: 'dist/'

  publish:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [build_windows, build_linux, build_macos]
    name: Publish Executables
    runs-on: ubuntu-latest

    steps:
    - uses: actions/download-artifact@v4
      with:
        name: 'Produkte Generator (Windows)'
        path: 'artifacts'
    - uses: actions/download-artifact@v4
      with:
        name: 'Produkte Generator (Linux)'
        path: 'artifacts'
    - uses: actions/download-artifact@v4
      with:
        name: 'Produkte Generator (macOS)'
        path: 'artifacts'

    - name: Upload artifacts to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: artifacts/*
        file_glob: true
        tag: ${{ github.ref }}
        overwrite: true
